@model Heap.Web.ViewModels.Diagnosis.DetailsDiagnosisViewModel
@{
    ViewBag.Title = Model.Diagnosis.Query + " (" + Model.Diagnosis.Id.ToString() + ")";
}
<h2>
    @Model.Diagnosis.Query</h2>
<h3>
    Created Date
</h3>
<p>@Model.Diagnosis.CreatedDate</p>
<h3>
    Modified Date
</h3>
<p>@Model.Diagnosis.ModifiedDate</p>
<h3>
    Successful Article
</h3>
<p>
    @{
        var successfulArticle = Model.Diagnosis.SuccessfulArticle;
        if (successfulArticle != null)
        {
        <text>@Html.ActionLink(successfulArticle.Id.ToString(), "Details", "Article", new { id = successfulArticle.Id }, null)</text>
        }
    }
</p>
<h3>
    Selected Symptoms</h3>
<ul>
    @foreach (var symptom in Model.Diagnosis.SelectedSymptoms)
    {
        <li>
            @symptom.Question.Description : @symptom.Name
        </li>
    }
</ul>
<h3>
    Unsuccessful Articles</h3>
<ul>
    @foreach (var article in Model.Diagnosis.UnsuccessfulArticles)
    {
        <li>
            @Html.ActionLink(article.Id.ToString(), "Details", "Article", new { id = article.Id }, null)
        </li>
    }
</ul>
